
{% extends "tictactoe/layout.html" %}

{% block body %}
        <table>
        {% for i in game %}
        <tr>
        {% for j in i %}
        <td>  
          {% if j %}
          {{ j }}
          {% else %}
          <a href="{% url 'tictactoe:play' %}?x={{forloop.parentloop.counter0}}&y={{forloop.counter0}}">Play {{ turn }} here</a>
          {% endif %}
        </td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>

<a href="{% url 'tictactoe:load' %}">Back</a>
<a href="{% url 'tictactoe:reset' %}">Reset</a>
{% endblock %}

